body {
	color: #ffffff;
	font-family: "Arial", sans-serif;
	font-size:13px;
	text-align:center;

	background-color: #000000;
	margin: 0px;
	padding: 0;
	overflow: hidden;
}

h2 	{ 
	font-family: "Helvetica", Black, sans-serif;
	color: #8F8F8F;
	margin-bottom: 0; 
	margin-left:13px;
	height:40px;
}

ul#sliding-navigation{
	position: absolute;
	top: 41vh;
	left: 42vw;
	list-style: none;
	font-size: .75em;
	margin: 30px 0;
	padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a{
	display: block;
	width: 150px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3{
	color: #ffffff;
	font-family: "Arial", Black, sans-serif;
	font-size: 20px;
}

ul#sliding-navigation li.sliding-element a{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover { color: #ffffff; }